.Dictionary {
  background: black;
  color: white;
  display: flex;
  padding: 8vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Dictionary .title {
  font-size: 3rem;
  margin-top: 0;
}
.Dictionary .secondary-title {
  font-size: 2.5rem;
  font-weight: 400;
}
.Dictionary .explanation {
  font-size: 1rem;
  line-height: 2rem;
}
.Dictionary .personal-link {
  color: white;
}
.Dictionary input {
  color: black;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  width: 66%;
  height: 3rem;
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Karla;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
.Dictionary button {
  display: inline-block;
  border-radius: 3px;
  outline: none;
  height: 3rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 500;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: Karla;
  background-color: white;
}
.Dictionary button:hover {
  background-color: black;
  color: white;
  border-color: white;
}
@media (min-width: 800px) {
  .Dictionary {
    display: flex;
    align-items: baseline;
    justify-content: left;
  }
  .App main > * {
    flex-basis: 50%;
  }
  .App main {
    display: flex;
    height: 100vh;
  }
}
